<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
{{template "header"}}
<h1>Go Sample Web Application</h1>
{{template "footer"}}
</body>
</html>