{{define "header"}}
<header>
    <nav>
       <a href="/users">Users</a> |
       <a href="/login">Login</a> |
       <a href="/logout">Logout</a>
    </nav>
</header>
{{end}}

{{define "footer"}}
<footer>
    <p>&copy; 2018 GlobalLogic.com</p>
</footer>
{{end}}